@mixin desktop-mini{
     @media (max-width: 1500px) {
        @content;
    }
}
@mixin desktop {
  @media (max-width: 1599px) {
    @content;
  }
}
@mixin laptop {
    @media (max-width: 1440px) {
        @content;
    }
}
@mixin tablet {
  @media (max-width: 1024px) and (min-width: 768px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 767px) and (min-width: 330px) {
    @content;
  }
}

@font-face {
    font-family: 'Inter';
    src: url('../components/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../components/fonts/Inter/Inter-ExtraBold.ttf');
}
@font-face {
  font-family: 'Lato';
  // src: local('Lato');
  src: url('../components/fonts/Lato/Lato-Bold.ttf');
}
@font-face {
  font-family: 'Orbitron';
  src: url('../components/fonts/Orbition/Orbitron-VariableFont_wght.ttf');
}
@mixin big{
     @media (min-width: 2300px) {
        @content;
    }
}