@mixin desktop-mini{
     @media (max-width: 1500px) {
        @content;
    }
}
@mixin desktop {
  @media (max-width: 1599px) {
    @content;
  }
}
@mixin laptop {
    @media (max-width: 1440px) {
        @content;
    }
}
@mixin tablet {
  @media (max-width: 1024px) and (min-width: 768px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 767px) and (min-width: 375px) {
    @content;
  }
}

@font-face {
    font-family: 'Inter';
    src: local('Inter');
}
@font-face {
    font-family: 'Inter-Bold';
    src: local('Inter');
}
@font-face {
  font-family: 'Lato';
  // src: local('Lato');
  src: url('../components/fonts/Lato/Lato-Bold.ttf');
}