@import './variables';
@import './btns';
@import './components/header';
@import './components/about';
@import './components/top';
@import './components/colection';
@import './components/users';
@import './components/sellers';
@import './components/info';
@import './components/subscribe';
@import './components/footer';

body{
    margin: 0;
    padding: 0;
    backdrop-filter: blur(184.6116943359375px);
    background: rgba(32, 8, 59, 0.75);
    @include big{
        padding-left: 15%;
        padding-right: 15%;
    }
}
.container{
    padding: 0 110px;
    @include phone{
        padding: 0 30px;
    }
}

