.colection{
    padding: 208px 148px 0 110px;
    position: relative;
    display: flex;
    @include laptop{
        align-items: center;
        flex-direction: column;
    }
    @include tablet{
    padding: 208px 50px 0 50px;
    }
    @include phone{
    padding: 80px 25px 0 25px;
        
    }
    &__title{
        color: rgba(255, 255, 255, 1);
        font-family: Orbitron;
        font-size: 26.53px;
        font-weight: 700;
        line-height: 100%;
        @include phone{
            font-size: 16px;
            font-weight: 700;
            line-height: 100%;
        }
    }
    &__list{
        margin-top: 49px;
        display: flex;
        gap: 41px;
        flex-wrap: wrap;
        @include desktop-mini{
            gap: 20px;
        }
        @include phone{
            gap: 17px;
            margin-top: 22px;
        }
    }
    &__item{
        width: 371px;
        @include desktop-mini{
            width: 300px;
        }
        @include phone{
            width: 153.52px;
            height: 40.76px;
            
        }
        height: 98.39px;
        padding: 2px;
        box-sizing: border-box;
        position: relative;
        background: linear-gradient(92.23deg,  #FFA6FA 49%, #407ad5 100%);
        &:hover{
            .colection__item-wrapper{
                cursor: pointer;
                box-shadow: 3px 9.421837px 107.2295455933px 5px rgba(255, 86, 246, .51);
                background: linear-gradient(92.23deg, #406AFF -17%, #3BACE2 0%, #B936EE 50%, #FF56F6 80%);
            }
        }
    }
    &__item-wrapper{
        position: relative;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background: rgba(32, 8, 59, 0.75);
        display: flex;
        align-items: center;
        justify-content: center;
        @include phone{
            font-family: Orbitron;
            font-size: 10.99px;
            font-weight: 700;
            line-height: 100%;
        }
        color: rgba(255, 255, 255, 0.5);
        font-family: Orbitron;
        font-size: 26.53px;
        font-weight: 700;
        line-height: 100%;
    }
    &__light{
        position: absolute;
        width: 271.94px;
        height: 271.94px;
        background: rgba(255, 0, 200, 1);
        border-radius: 50%;
        opacity: 0.4;
        filter: blur(110px);
        top: 163px;
        left: 487px;
        z-index: -1;
        @include tablet{
            display: none;
        }
        @include phone{
            display: none;
        }
    }
    &__more{
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        font-family: Orbitron;
        font-size: 19.9px;
        font-weight: 700;
        line-height: 100%;
        margin-top: 53px;
        position: relative;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: end;
        @include phone{
            font-size: 8.24px;
            font-weight: 700;
            line-height: 100%;
            right: -17px;
            margin-top: 19px;
        }
        img{
            margin-left: 9px;
            margin-right: 123px;
            width: 63.96px;
            height: 15.48px;
            @include phone{
                width: 21.53px;
                height: 6.41px;
                margin-right: 15px;

            }
        }
    }
    &__img{
        @include laptop{
            margin-top: 50px;
        }
        @include phone{
            margin-top: 56px;
        }
        img{
            position: relative;
            top: -45px;
            left: 4px;
            @include phone{
                width: 185.89px;
                height: 347.72px;
                
            }
        }
    }
}